<div class="lg:w-[30%]">
  <div class="py-2 lg:pl-4 border-y border-secondary flex justify-between">
    {
      //empty array of 5
      [...Array(5)].map((_, i) => <span>*</span>)
    }
    <span class="uppercase">currently </span>
    {
      //empty array of 5
      [...Array(5)].map((_, i) => <span>*</span>)
    }
  </div>
  <div class="lg:pl-4 py-10">
    <p>UX/UI Designer - Developer</p>
    <p>noesrafa@gmail.com</p><br />
    <p>
      A multi-faceted designer and creative director, R—C is constantly trying
      to connect culture, tech and design. An optimist of the future, creating
      the products and experiences of tomorrow is what makes him jump out of bed
      in the morning. That and his two kids, lbr.
    </p>
    <br />
    <div class="mt-3 flex gap-2">
      <a href="#" class="block underline">Linkedin</a>
      <a href="#" class="block underline">Behance</a>
    </div>
  </div>
</div>
