<div class="lg:w-[30%]">
  <div class="py-2 pl-4 border-y border-secondary flex justify-between">
    {
      //empty array of 5
      [...Array(5)].map((_, i) => <span>*</span>)
    }
    <span class="uppercase">currently </span>
    {
      //empty array of 5
      [...Array(5)].map((_, i) => <span>*</span>)
    }
  </div>
</div>
