<div class="lg:w-[25%] ">
  <div class="py-2 border-y border-secondary">
    <h2 class="border-r border-secondary">Featured:</h2>
  </div>
  <div class="pt-10 border-r border-secondary mt-2">
    <h3>BLOG 2</h3>
    > How to make a website with Astro
  </div>
</div>
