---
import Link from "../../components/Link.astro";
---

<div class="lg:w-[45%] pb-10">
  <div class="py-2 border-y border-secondary">
    <h2 class="lg:border-r border-secondary pl-4">Selected Projects:</h2>
  </div>
  <h3 class="mt-10 lg:pl-4">Name</h3>
  <ul class="mt-3">
    <li class="lg:px-2">
      <Link href="/heru" label="heru_app" type="FIG" />
      <Link href="/pefai_builder" label="pefai_builder" type="JS" />
      <Link href="/driftlead" label="driftlead" type="FIG" />
      <Link href="/heru" label="heru_app" type="FIG" />
      <Link href="/pefai_builder" label="pefai_builder" type="FIG" />
      <Link href="/driftlead" label="driftlead" type="FIG" />
      <Link href="/heru" label="heru_app" type="FIG" />
      <Link href="/pefai_builder" label="pefai_builder" type="FIG" />
      <Link href="/driftlead" label="driftlead" type="FIG" />
      <Link href="/heru" label="heru_app" type="FIG" />
      <Link href="/pefai_builder" label="pefai_builder" type="FIG" />
      <Link href="/driftlead" label="driftlead" type="FIG" />
      <Link href="/heru" label="heru_app" type="FIG" />
      <Link href="/pefai_builder" label="pefai_builder" type="FIG" />
      <Link href="/driftlead" label="driftlead" type="FIG" />
    </li>
  </ul>
</div>
