---
import Layout from "../layouts/Layout.astro";
import Featured from "./home/Featured.astro";
import SelectedWork from "./home/SelectedWork.astro";
import AboutMe from "./home/AboutMe.astro";
import Hero from "./home/Hero.astro";
---

<Layout title="Rafael Alexander">
  <main
    class="lg:my-10 border border-secondary lg:p-2.5 text-lg max-w-6xl mx-auto relative"
  >
    <div class="border border-secondary p-2 lg:p-4">
      <Hero />

      <div class="flex flex-col lg:flex-row mb-2">
        <Featured />
        <SelectedWork />
        <AboutMe />
      </div>
    </div>
    <p class="absolute bottom-1 left-1 bg-primary px-1">Ⓒ2024 - Rafael Alexander</p>
  </main>
</Layout>
