---
interface Props {
  href: string;
  label: string;
  type: string;
}

const { href, label, type } = Astro.props;
---

<a
  href={href}
  class="hover:bg-secondary hover:text-primary flex items-center justify-between px-2"
>
  <span class="w-1/2">{label}</span>
  <span class="w-1/2">{type}</span>
</a>
